.contact-container {
  width: 900px;
  display: flex;
  justify-content: space-between;
  margin: 30px auto;

  .user-information-container {
    display: flex;
    flex-direction: column;
    width: 410px;

    h2 {
      margin: 10px 0;
    }

    span {
      margin: 30px 0 15px ;
    }

    .data-container {
      margin-top: 6px;

      .form-control {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #4e4e4e4d;
      }

      .buttons-container {
          margin: 25px auto;
        }
    }
  }

  .company-information-container {
    display: flex;
    flex-direction: column;
    width: 410px;

    h2 {
      margin: 10px 0;
    }

    span {
      margin: 30px 0 15px ;
    }

    .data-container {

      ul {
        list-style: none;
        padding-left: 0;
  
        .icon-company {
          font-size: 18px;
          margin-right: 30px;
        }

        .data-company {
          line-height: 40px;
        }
      }
    }
  }
}


